name: Build and publish wheels
on:
  push:
permissions:
  contents: read
jobs:
  select:
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.select.outputs.build }}
      publish: ${{ steps.select.outputs.publish }}
    steps:
      - name: initialize
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=false" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=false" >> "$GITHUB_ENV"
      - name: build on commit message
        if: contains(github.event.head_commit.message, '[ci:build-wheels]')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
      - name: publish on commit message
        if: contains(github.event.head_commit.message, '[ci:publish-wheels]')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: build and publish on tag 'v*'
        if: startsWith(github.event.ref, 'refs/tags/v')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: output results
        id: select
        run: |
          echo "build=$GPUBACKENDTOOLSWHL_BUILD" >> $GITHUB_OUTPUT
          echo "publish=$GPUBACKENDTOOLSWHL_PUBLISH" >> $GITHUB_OUTPUT
  build:
    needs:
      - select
    name: Build wheels on ${{ matrix.os }}
    runs-on: ubuntu-latest
    if: needs.select.outputs.build == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - release: cpu
            os: ubuntu-latest
            arch: x86_64
            kind: core
            reqpython: '>=3.9'
          - release: cpu
            os: ubuntu-24.04-arm
            arch: aarch64
            kind: core
            reqpython: '>=3.10'
         - release: cpu
            os: macos-15-intel
            kind: core
            reqpython: '>=3.9'
            arch: x86_64
            macos_ver: 15.0
          - release: cpu
            os: macos-15
            kind: core
            reqpython: '>=3.9'
            arch: arm64
            macos_ver: 15.0
          - release: cpu
            os: macos-14
            kind: core
            reqpython: '>=3.9'
            arch: arm64
            macos_ver: 14.0
    steps:
      # =========================
      # = I - Retrieve sources  =
      # =========================
      - uses: actions/checkout@v4
      # ========================
      # = II - Update sources  =
      # ========================
      - name: Add release suffix to project name
        if: matrix.kind != 'core'
        run: |
          sed -i'' -e 's|" #@NAMESUFFIX@|-${{ matrix.release }}"|g' pyproject.toml
      - name: Add release suffix to core package for TestPyPI
        if: matrix.kind == 'core' && needs.select.outputs.core-suffix == 'true'
        run: |
          sed -i'' -e 's|" #@NAMESUFFIX@|-${{ matrix.release }}"|g' pyproject.toml
      # Add Core project dependency
      - name: Add core project dependency on plugin
        if: matrix.kind != 'core' && needs.select.outputs.core-suffix == 'true'
        run: |
          sed -i'' -e 's|#@DEPS_GBTCORE@|"lisaanalysistools-cpu==${{ needs.version.outputs.version }}"|g' py
project.toml
      - name: Add core project dependency on plugin
        if: matrix.kind != 'core' && needs.select.outputs.core-suffix == 'false'
        run: |
          sed -i'' -e 's|#@DEPS_GBTCORE@|"lisaanalysistools==${{ needs.version.outputs.version }}"|g' pyproj
ect.toml

      - name: Exclude core package from plugins
        if: matrix.kind != 'core'
        run: |
          sed -i'' -e '/@SKIP_PLUGIN@/d' pyproject.toml
      # ===================================
      # = III. Prepare build environment  =
      # ===================================
      - name: Set up QEMU
        if: matrix.os == 'ubuntu-latest' && matrix.arch != 'x86_64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      # =====================
      # = IV. Build wheels  =
      # =====================
      - uses: fortran-lang/setup-fortran@v1
        if: matrix.kind == 'core'
        id: setup-fortran
        with:
          compiler: gcc
          version: 14
      - name: Build core wheels (macOS)
        if: runner.os == 'macOS' && matrix.kind == 'core'
        uses: pypa/build
        env:
          CIBW_SKIP: pp*
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ matrix.reqpython }}
          CIBW_ARCHS_MACOS: ${{ matrix.arch }}
          CIBW_CONFIG_SETTINGS: >
            cmake.define.GBT_WITH_GPU=OFF
          # TODO: check this
          # CIBW_TEST_COMMAND: python -m lisatools.tests --disable testfile
          CIBW_ENVIRONMENT: >
            SETUPTOOLS_SCM_PRETEND_VERSION="${{ needs.version.outputs.version }}"
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.macos_ver }}
      - name: Build core wheels (Linux)
        if: runner.os == 'Linux' && matrix.kind == 'core'
        uses: pypa/build
        env:
          CIBW_PROJECT_REQUIRES_PYTHON: ${{ matrix.reqpython }}
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_SKIP: pp* *musllinux*
          CIBW_MANYLINUX_AARCH64_IMAGE: manylinux_2_28
          CIBW_CONFIG_SETTINGS: >
            cmake.define.GBT_WITH_GPU=OFF
          CIBW_ENVIRONMENT: >
            SETUPTOOLS_SCM_PRETEND_VERSION="${{ needs.version.outputs.version }}"
          # CIBW_TEST_COMMAND: python -m lisatools.tests --disable testfile

      # =====================
      # = V. Upload wheels  =
      # =====================
      - uses: actions/upload-artifact@v4
        with:
          name: cibw-wheels-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl

  publish:
    runs-on: ubuntu-latest
    environment: pypiconf
    defaults:
      run:
        shell: bash
    needs:
      - build
      - select
    if: needs.select.outputs.publish == 'true'
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          path: wheelhouse/
          merge-multiple: true
      - name: List wheels
        run: |
          ls -al wheelhouse/*
      - name: Install twine from PyPI
        uses: install-pinned/twine@c7ca21f7f66fc895b73cba784dc1d0e302e3b4a3 # 6.1.0
      - name: Publish release distributions to registry
        env:
          TWINE_NON_INTERACTIVE: "yes"
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_REPOSITORY: ${{ vars.TWINE_REPOSITORY }}
          TWINE_USERNAME: ${{ vars.TWINE_USERNAME }}
        run: |
          twine upload wheelhouse/*
