name: Build and publish wheels
on:
  push:
permissions:
  contents: read
jobs:
  select:
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.select.outputs.build }}
      publish: ${{ steps.select.outputs.publish }}
    steps:
      - name: initialize
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=false" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=false" >> "$GITHUB_ENV"
      - name: build on commit message
        if: contains(github.event.head_commit.message, '[ci:build-wheels]')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
      - name: publish on commit message
        if: contains(github.event.head_commit.message, '[ci:publish-wheels]')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: build and publish on tag 'v*'
        if: startsWith(github.event.ref, 'refs/tags/v')
        run: |
          echo "GPUBACKENDTOOLSWHL_BUILD=true" >> "$GITHUB_ENV"
          echo "GPUBACKENDTOOLSWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: output results
        id: select
        run: |
          echo "build=$GPUBACKENDTOOLSWHL_BUILD" >> $GITHUB_OUTPUT
          echo "publish=$GPUBACKENDTOOLSWHL_PUBLISH" >> $GITHUB_OUTPUT
  build:
    needs:
      - select
    name: Build wheels on ${{ matrix.os }}
    runs-on: ubuntu-latest
    if: needs.select.outputs.build == 'true'
    steps:
      # =========================
      # = I - Retrieve sources  =
      # =========================
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      # ===================================
      # = II - Prepare Python environment =
      # ===================================
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: |
          pip install setuptools_scm
      # ========================
      # = III - Detect version =
      # ========================
      - name: Update version scheme
        run: |
          sed -i'' -e 's|version_scheme = "no-guess-dev"|version_scheme = "only-version"|g' pyproject.toml
          sed -i'' -e 's|local_scheme = "node-and-date"|local_scheme = "no-local-version"|g' pyproject.toml
      - name: Detect current version
        id: setuptools_scm
        run: |
          VERSION="$(python -m setuptools_scm)"
          echo "RUNNING CHECK $(python -m setuptools_scm)"
          echo "notice:: Detected version: ${VERSION}"
          echo "value=${VERSION}" >> $GITHUB_OUTPUT
          echo "version: ${VERSION}" >> $GITHUB_STEP_SUMMARY  
  
      - name: Install cibuildwheel
        run: python -m pip install build
        
      - name: Build wheels
        run: python -m build --outdir dist
        # The cibuildwheel command automatically detects and uses scikit-build-core 
        # as the backend based on your pyproject.toml file.

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: python-wheels
          path: dist/*.whl          
  
  publish:
    runs-on: ubuntu-latest
    environment: pypiconf
    defaults:
      run:
        shell: bash
    needs:
      - build
      - select
    if: needs.select.outputs.publish == 'true'
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          path: dist/
          merge-multiple: true
      - name: List wheels
        run: |
          ls -al dist/*
      - name: Install twine from PyPI
        uses: install-pinned/twine@c7ca21f7f66fc895b73cba784dc1d0e302e3b4a3 # 6.1.0
      - name: Publish release distributions to registry
        env:
          TWINE_NON_INTERACTIVE: "yes"
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_REPOSITORY: ${{ vars.TWINE_REPOSITORY }}
          TWINE_USERNAME: ${{ vars.TWINE_USERNAME }}
        run: |
          twine upload dist/*
