name: Build and publish wheels
on:
  push:
permissions:
  contents: read
jobs:
  select:
    runs-on: ubuntu-latest
    outputs:
      build: ${{ steps.select.outputs.build }}
      publish: ${{ steps.select.outputs.publish }}
      core-suffix: ${{ steps.select.outputs.core-suffix }}
    steps:
      - name: initialize
        run: |
          echo "GBTWHL_BUILD=false" >> "$GITHUB_ENV"
          echo "GBTWHL_CORE_SUFFIX=false" >> "$GITHUB_ENV"
          echo "GBTWHL_PUBLISH=false" >> "$GITHUB_ENV"
      - name: build on commit message
        if: contains(github.event.head_commit.message, '[ci:build-wheels]')
        run: |
          echo "GBTWHL_BUILD=true" >> "$GITHUB_ENV"
      - name: publish wheels on commit message
        if: contains(github.event.head_commit.message, '[ci:publish-wheels]')
        run: |
          echo "GBTWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: build and publish on tag 'v*'
        if: startsWith(github.event.ref, 'refs/tags/v')
        run: |
          echo "GBTWHL_BUILD=true" >> "$GITHUB_ENV"
          echo "GBTWHL_PUBLISH=true" >> "$GITHUB_ENV"
      - name: add core-suffix on non-official repo
        if: github.event.repository.full_name != 'mikekatz04/LISAanalysistools'
        run: |
          echo "GBTWHL_CORE_SUFFIX=true" >> "$GITHUB_ENV"
      - name: output results
        id: select
        run: |
          echo "build=$GBTWHL_BUILD" >> $GITHUB_OUTPUT
          echo "publish=$GBTWHL_PUBLISH" >> $GITHUB_OUTPUT
          echo "core-suffix=$GBTWHL_CORE_SUFFIX" >> $GITHUB_OUTPUT
  version:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.setuptools_scm.outputs.value }}
    steps:
      # =========================
      # = I - Retrieve sources  =
      # =========================
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: true
      # ===================================
      # = II - Prepare Python environment =
      # ===================================
      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
      - run: |
          pip install setuptools_scm
      # ========================
      # = III - Detect version =
      # ========================
      - name: Update version scheme
        run: |
          sed -i'' -e 's|version_scheme = "no-guess-dev"|version_scheme = "only-version"|g' pyproject.toml
          sed -i'' -e 's|local_scheme = "node-and-date"|local_scheme = "no-local-version"|g' pyproject.toml
      - name: Detect current version
        id: setuptools_scm
        run: |
          VERSION="$(python -m setuptools_scm)"
          echo "RUNNING CHECK $(python -m setuptools_scm)"
          echo "notice:: Detected version: ${VERSION}"
          echo "value=${VERSION}" >> $GITHUB_OUTPUT
          echo "version: ${VERSION}" >> $GITHUB_STEP_SUMMARY
  build:
    name: gpubackendtools-${{ matrix.release }} on ${{ matrix.os }}-${{ matrix.arch }}
    runs-on: ${{ matrix.os }}
    needs:
      - select
      - version
    if: needs.select.outputs.build == 'true'
    strategy:
      fail-fast: false
      matrix:
        include:
          - release: cpu
            os: ubuntu-latest
            arch: x86_64
            kind: core
            reqpython: '>=3.9'
          - release: cpu
            os: macos-15-intel
            kind: core
            reqpython: '>=3.9'
            arch: x86_64
            macos_ver: 15.0
          - release: cpu
            os: macos-15
            kind: core
            reqpython: '>=3.9'
            arch: arm64
            macos_ver: 15.0
          - release: cpu
            os: macos-14
            kind: core
            reqpython: '>=3.9'
            arch: arm64
            macos_ver: 14.0
    steps:
      # =========================
      # = I - Retrieve sources  =
      # =========================
      - uses: actions/checkout@v4
      # ========================
      # = II - Update sources  =
      # ========================
      - name: Add release suffix to project name
        if: matrix.kind != 'core'
        run: |
          sed -i'' -e 's|" #@NAMESUFFIX@|-${{ matrix.release }}"|g' pyproject.toml
      - name: Add release suffix to core package for TestPyPI
        if: matrix.kind == 'core' && needs.select.outputs.core-suffix == 'true'
        run: |
          sed -i'' -e 's|" #@NAMESUFFIX@|-${{ matrix.release }}"|g' pyproject.toml
      # Add Core project dependency
      - name: Add core project dependency on plugin
        if: matrix.kind != 'core' && needs.select.outputs.core-suffix == 'true'
        run: |
          sed -i'' -e 's|#@DEPS_GBTCORE@|"gpubackendtools-cpu==${{ needs.version.outputs.version }}"|g' pyproject.toml
      - name: Add core project dependency on plugin
        if: matrix.kind != 'core' && needs.select.outputs.core-suffix == 'false'
        run: |
          sed -i'' -e 's|#@DEPS_GBTCORE@|"gpubackendtools==${{ needs.version.outputs.version }}"|g' pyproject.toml
      # Remove base sources from plugin wheels
      - name: Exclude core package from plugins
        if: matrix.kind != 'core'
        run: |
          sed -i'' -e '/@SKIP_PLUGIN@/d' pyproject.toml

      #@VERSION_ADD@
      # ===================================
      # = III. Prepare build environment  =
      # ===================================
      - name: Set up QEMU
        if: matrix.os == 'ubuntu-latest' && matrix.arch != 'x86_64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      # =====================
      # = IV. Build wheels  =
      # =====================
      #
      - name: Install pypa/build
        run: python -m pip install build 
      - uses: fortran-lang/setup-fortran@v1
        if: matrix.kind == 'core'
        id: setup-fortran
        with:
          compiler: gcc
          version: 14
      - name: Build core wheels (macOS)
        if: runner.os == 'macOS' && matrix.kind == 'core'
        run: python -m build ./ --outdir dist/
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{needs.version.outputs.version}}
          MACOSX_DEPLOYMENT_TARGET: ${{ matrix.macos_ver }}
      - name: Build core wheels (Linux)
        if: runner.os == 'Linux' && matrix.kind == 'core'
        run: python -m build ./ --outdir dist/
        env:
          SETUPTOOLS_SCM_PRETEND_VERSION: ${{needs.version.outputs.version}}

      # =====================
      # = V. Upload wheels  =
      # =====================
      - uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ strategy.job-index }}
          path: ./dist/*.whl
  
  publish:
    runs-on: ubuntu-latest
    environment: pypiconf
    defaults:
      run:
        shell: bash
    needs:
      - build
      - select
    if: needs.select.outputs.publish == 'true'
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
    steps:
      - name: Retrieve release distributions
        uses: actions/download-artifact@v4
        with:
          path: dist/
          merge-multiple: true
      - name: List wheels
        run: |
          ls -al dist/*
      - name: Install twine from PyPI
        uses: install-pinned/twine@c7ca21f7f66fc895b73cba784dc1d0e302e3b4a3 # 6.1.0
      - name: Publish release distributions to registry
        env:
          TWINE_NON_INTERACTIVE: "yes"
          TWINE_PASSWORD: ${{ secrets.TWINE_PASSWORD }}
          TWINE_REPOSITORY: ${{ vars.TWINE_REPOSITORY }}
          TWINE_USERNAME: ${{ vars.TWINE_USERNAME }}
        run: |
          twine upload dist/*
